<!-- Header -->
	<div id="header-wrapper">
		<div id="header">

			<!-- Logo -->
				<h1><a href="{{ site.baseurl }}/index.html">Share & Learn Virtual Competitions</a></h1>

			<!-- Nav -->
				<nav id="nav">
					<ul>
						{% assign current = page.url | downcase | split: '/' %}
						{% assign test = current[1] | append: "t" %}

						<li {% if test == "t" %}class='current'{% endif %}><a href="{{ site.baseurl }}/index.html">Home</a></li>
						<li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="">What's New</a>
							<ul>
								<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
							</ul>
						</li>
						<li {% if current[1] == 'virtualexpo.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/virtualexpo.html">Virtual Expo</a></li>
						<li {% if current[1] == 'virtualopen.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/virtualopen.html">Virtual Open</a></li>
						<li {% if current[1] == 'virtualpits.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/virtualpits.html">Virtual Pits</a></li>
						<li {% if current[1] == 'voiscoresheet.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/VOIscoresheet.html">VOI Scores</a></li>
						<li {% if current[1] == 'shareandlearn.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/shareandlearn.html">Share & Learn</a></li>
					</ul>
				</nav>

				<!-- <div class="header-img">
					<img src="{{ site.baseurl }}/assets/images/pic11.jpg">
				</div> -->
